.navBar {
  background-color: red;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerImg {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}
